In [2]:
import requests
from recipe_scrapers import scrape_me
import pandas as pd
import json
import time

# scraper = scrape_me('https://www.ah.nl/allerhande/recept/R-R1198340/chinese-koolstamppot')

In [4]:
with open('ah_receps/beenham_uit_de_slowcooker.json') as file:
    json_file = json.load(file)

In [64]:
title = json_file['title']
ingredients = json_file['ingredients']
instructions = json_file['instructions_list']
url = json_file['canonical_url']

In [65]:
with open('test.csv', 'w') as f:
    f.write(f'{title},"{ingredients}","{instructions}",{url},\n')

In [67]:
pd.read_csv('test.csv', header=None)

,0,1,2,3,4
0,Beenham uit de slowcooker,"['3 tenen knoflook', '550 g beenhammen voor in...","['stap 1', 'Haal de beenham uit de koelkast. S...",https://www.ah.nl/allerhande/recept/R-R1198343...,NaN