TODO:
- make the recipe finders store to a file
- make the generic scaper read numbers from file, check if it already is in dir, if no, scape recipe
- let this proces run every day for a while. exit if breaks?
- either in three seperate mains or run it async in one main? -> baba?
- save the output of the above processes
- ???
- profit

In [8]:
import requests
from recipe_scrapers import scrape_me
import pandas as pd
import json
import time

# scraper = scrape_me('https://www.ah.nl/allerhande/recept/R-R1198340/chinese-koolstamppot')

In [13]:
with open('../smulweb_receps/1006716.json') as file:
    json_file = json.load(file)

In [15]:
title = json_file['title']
ingredients = json_file['ingredients']
instructions = json_file['instructions_list']
url = json_file['canonical_url']

In [16]:
with open('test.csv', 'w') as f:
    f.write(f'{title},"{ingredients}","{instructions}",{url},\n')

In [20]:
import json
import pandas as pd

page_num = 1
numers = ['1', '2', '3']

with open('test.csv', 'w') as outfile:
    while page_num < 10:
        outfile.write(f'{page_num}\t{numers}\n')
        page_num += 1

df = pd.read_csv('test.csv', header=None, delimiter='\t')
df[1].tolist()
LoL = df[1].tolist()
df

   0                1
0  1  ['1', '2', '3']
1  2  ['1', '2', '3']
2  3  ['1', '2', '3']
3  4  ['1', '2', '3']
4  5  ['1', '2', '3']
5  6  ['1', '2', '3']
6  7  ['1', '2', '3']
7  8  ['1', '2', '3']
8  9  ['1', '2', '3']